
.navbar-brand {
    position: relative;
    z-index: 2;
    
}
.navbar-default {
    background-color: #318bba;
}
.navbar-default .navbar-brand{
    color : black;
    padding-left: 50px;
    font-size: 25px;
}
.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}
.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
       

}


.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar-defualt .navbar-nav>li>a : hover{
    color: #fff !important;    
}



.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
    color: #fff !important;    
}
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

.navbar-defualt .navbar-nav>li>a{
    color: #fff !important;   
}
.col-xs-10 h1{
    color : #64035c;
    font-weight: 300;
    
    }
p{
    padding : 20px 0;
}
p.list-awesome{
    font-size: 20px;
    padding: 0px 0px 5px 0px;  
}
.mobile-info{
    background: #b4cfbd;
    margin-top: 30px;
    margin-bottom: 50px;
}
div.col-xs-9{
    background: #b4cfbd;
    margin-top : 30px;
}
h3{

    margin-top : -2px;
    margin-bottom: -2px;
    color : purple;
}
div.col-xs-9 p{
    padding: 7px 0 ;
}
img{
    position: absolute;
    top : -90px;
}
h2{
    padding-bottom: 30px;
}
tbody {
    background-color: #eff5f1;
}
td,th{
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #b4cfbd;
}
.btn-primary, .btn-primary:hover, btn-primary:active, btn-primary:visited , btn-primary:focus{
    background-color : #64035c;
    border-color: #64035c;
    text-align: center;
    margin: 25px;
    border-radius: 0px;
}
a#loginButton.btn.btn-primary.col-xs-12{
    width : 200px;
}

.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
        border-radius: 0px;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 400px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		background: #fff;
		
	}

	.close {
		color: darkblue;
		position: absolute;
        top : 20px;
		right: 5px;
		text-align: center;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		border-radius: 12px;
	}

	.close:hover {
        background: #00d9ff;
}

h4{
    font-size : 23px;
    padding: 10px 10px 20px 0px;
}
label,input{
    margin: 10px 0 ;
}
button.btn.btn-primary{
    margin-left: 260px; 
    width : 100px;

}

div.col-xs-12.tabsDiv{
/*    border-style: solid;*/
    background-color:#e6e9ef; 
    margin-left: 40px;
    width: 200px;
}


p.tabbedP{
    padding: 0px;
    margin: 0px;
    color: #318bba;
    font-weight: 200px;
}
p.tabbedPara{
   padding: 0px; 
}

.footer{
    margin-top: 100px; 
    background-color: #e6e9ef;
}
.col-xs-3{
    
    color:blue;
}
@media screen and (max-width: 767px) {
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    
    .nav-collapse>li {
        float: none;
        
    }
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
    
    .navbar-defualt .navbar-nav>li>a{
    color: #fff !important;    
}
}